[Unit]
Description=rclone box-drive Mount
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount takumi_work: %h/my_wdrive \
	--config=%h/.config/rclone/rclone.conf \
	--vfs-cache-mode writes \
	--vfs-cache-max-age 24h \
	--vfs-cache-max-size 10G \
	--umask 022 \
	--log-level INFO
	--log-file /tmp/rclone-box.log
ExecStop=/bin/fusermount -u %h/my_wdrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
