[Unit]
Description=rclone School OneDrive Mount
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount onedrive_sc: %h/drives-sc \
	--config=%h/.config/rclone/rclone.conf \
	--vfs-cache-mode writes \
	--vfs-cache-max-age 24h \
	--vfs-cache-max-size 10G \
	--umask 022 \
	--log-level INFO \
	--log-file /tmp/rclone-onedrive-sc.log
ExecStop=/bin/fusermount -u %h/drives-sc
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
